In [1]:
import requests
import json  
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
response= requests.get('https://api.tfl.gov.uk/BikePoint/')
stations = response.json()

In [3]:
time_now = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
time_now

'2023-09-01 11:46:26'

In [4]:
data =  pd.DataFrame()
s_names = []
s_lat = []
s_lon = []

NbBikes = []
NbEmptyDocks = []
NbDocks = []
NbStandardBikes = []
NbEBikes = []
s_id = []

In [5]:
len_lat = 0
for station in stations:
    s_names.append(station['commonName'])
    s_lat.append(float(station['lat']))
    s_lon.append(float(station['lon']))
    for add_property in station['additionalProperties']:
        if add_property['key'] == 'NbBikes':
            NbBikes.append(int(add_property['value']))
        if add_property['key'] == 'NbEmptyDocks':
            NbEmptyDocks.append(int(add_property['value']))     
        if add_property['key'] == 'NbDocks':
            NbDocks.append(int(add_property['value']))
        if add_property['key'] == 'NbStandardBikes':
            NbStandardBikes.append(int(add_property['value']))
        if add_property['key'] == 'NbEBikes':
            NbEBikes.append(int(add_property['value']))
        if add_property['key'] == 'TerminalName':
            s_id.append(int(add_property['value']))

In [6]:
data['Station_name'] = s_names
data['s_lat'] = s_lat
data['s_lon'] = s_lon
data['s_num_bikes'] = NbBikes
data['s_num_empty_docks'] = NbEmptyDocks
data['s_num_docks'] = data['s_num_bikes'] + data['s_num_empty_docks']
data['s_id'] = s_id
data['time_api'] = time_now

In [7]:
data

,Station_name,s_lat,s_lon,s_num_bikes,s_num_empty_docks,s_num_docks,s_id,time_api
0,"River Street , Clerkenwell",51.529163,-0.109970,17,1,18,1023,2023-09-01 11:46:26
1,"Phillimore Gardens, Kensington",51.499606,-0.197574,9,27,36,1018,2023-09-01 11:46:26
2,"Christopher Street, Liverpool Street",51.521283,-0.084605,8,24,32,1012,2023-09-01 11:46:26
3,"St. Chad's Street, King's Cross",51.530059,-0.120973,9,14,23,1013,2023-09-01 11:46:26
4,"Sedding Street, Sloane Square",51.493130,-0.156876,20,6,26,3420,2023-09-01 11:46:26
...,...,...,...,...,...,...,...,...
791,"Crimscott Street, Bermondsey",51.495598,-0.078893,4,14,18,300061,2023-09-01 11:46:26
792,"Brandon Street, Walworth",51.489102,-0.091548,12,9,21,300060,2023-09-01 11:46:26
793,"The Blue, Bermondsey",51.492221,-0.062513,13,8,21,300059,2023-09-01 11:46:26
794,"Coomer Place, West Kensington",51.483570,-0.202038,16,11,27,200081,2023-09-01 11:46:26
795,"Hortensia Road, West Brompton",51.481765,-0.185273,9,19,28,300091,2023-09-01 11:46:26