# Features preprocessing

## 1. MinMax scale

In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from datetime import datetime
import pygeohash as pgh

In [2]:
pwd

'/home/catherine/code/elsebasmar/london-bss/londonbss/notebooks/data_collection'

In [3]:
data = pd.read_csv("../../../raw_data/final_features_df.csv")

In [4]:
data.head()

,Unnamed: 0,timestamp,temperature,precipitation,rainfall,snowfall,cloudcover,wind_speed,wind_direction,date,...,London_zone_South_East,London_zone_East,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West,elisabeth_line,lockdown,school_holidays,strike
0,0,2023-01-02 00:00:00,8.1,0.4,0.4,0.0,100,6.6,248,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
1,1,2023-01-02 01:00:00,7.8,0.3,0.3,0.0,100,7.2,233,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
2,2,2023-01-02 02:00:00,7.5,0.1,0.1,0.0,100,10.4,224,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
3,3,2023-01-02 03:00:00,7.3,0.0,0.0,0.0,95,13.6,220,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
4,4,2023-01-02 04:00:00,7.1,0.0,0.0,0.0,100,13.8,219,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN

In [5]:
scaler = MinMaxScaler()
data["temperature"] = scaler.fit_transform(data[['temperature']])
data["rainfall"] = scaler.fit_transform(data[['rainfall']])
data["snowfall"] = scaler.fit_transform(data[['snowfall']])
data["cloudcover"] = scaler.fit_transform(data[['cloudcover']])
data["wind_speed"] = scaler.fit_transform(data[['wind_speed']])
data["wind_direction"] = scaler.fit_transform(data[['wind_direction']])

In [6]:
data.head()

,Unnamed: 0,timestamp,temperature,precipitation,rainfall,snowfall,cloudcover,wind_speed,wind_direction,date,...,London_zone_South_East,London_zone_East,London_zone_London_all,London_zone_North,London_zone_South_West,London_zone_West,elisabeth_line,lockdown,school_holidays,strike
0,0,2023-01-02 00:00:00,0.380665,0.4,0.133333,0.0,1.00,0.146226,0.688022,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
1,1,2023-01-02 01:00:00,0.371601,0.3,0.100000,0.0,1.00,0.160377,0.646240,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
2,2,2023-01-02 02:00:00,0.362538,0.1,0.033333,0.0,1.00,0.235849,0.621170,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
3,3,2023-01-02 03:00:00,0.356495,0.0,0.000000,0.0,0.95,0.311321,0.610028,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN
4,4,2023-01-02 04:00:00,0.350453,0.0,0.000000,0.0,1.00,0.316038,0.607242,2023-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,True,False,winter_half_term,NaN

In [7]:
scaled_data = data

## 2. Add dates details columns

In [8]:
scaled_data["year"] = scaled_data["timestamp"].str[:4]
scaled_data["month"] = scaled_data["timestamp"].str[6:7]
scaled_data["day"] = scaled_data["timestamp"].str[9:10]
scaled_data["hour"] = scaled_data["timestamp"].str[12:13]
scaled_data["minute"] = scaled_data["timestamp"].str[15:16]
scaled_data["second"] = scaled_data["timestamp"].str[18:19]

In [9]:
scaled_data.head()

,Unnamed: 0,timestamp,temperature,precipitation,rainfall,snowfall,cloudcover,wind_speed,wind_direction,date,...,elisabeth_line,lockdown,school_holidays,strike,year,month,day,hour,minute,second
0,0,2023-01-02 00:00:00,0.380665,0.4,0.133333,0.0,1.00,0.146226,0.688022,2023-01-02,...,True,False,winter_half_term,NaN,2023,1,2,0,0,0
1,1,2023-01-02 01:00:00,0.371601,0.3,0.100000,0.0,1.00,0.160377,0.646240,2023-01-02,...,True,False,winter_half_term,NaN,2023,1,2,1,0,0
2,2,2023-01-02 02:00:00,0.362538,0.1,0.033333,0.0,1.00,0.235849,0.621170,2023-01-02,...,True,False,winter_half_term,NaN,2023,1,2,2,0,0
3,3,2023-01-02 03:00:00,0.356495,0.0,0.000000,0.0,0.95,0.311321,0.610028,2023-01-02,...,True,False,winter_half_term,NaN,2023,1,2,3,0,0
4,4,2023-01-02 04:00:00,0.350453,0.0,0.000000,0.0,1.00,0.316038,0.607242,2023-01-02,...,True,False,winter_half_term,NaN,2023,1,2,4,0,0

In [10]:
scaled_data.drop(columns="Unnamed: 0", inplace=True)

In [11]:
scaled_data["timestamp"] = pd.to_datetime(scaled_data["timestamp"])

In [12]:
scaled_data.dtypes

timestamp                 datetime64[ns]
temperature                      float64
precipitation                    float64
rainfall                         float64
snowfall                         float64
cloudcover                       float64
wind_speed                       float64
wind_direction                   float64
date                              object
sunrise_datetime                  object
sunset_datetime                   object
encoding                          object
event_title                       object
event_start_date                  object
event_end_date                    object
event_location                    object
event_latitude                    object
event_longitude                   object
London_zone_Central              float64
London_zone_South_East           float64
London_zone_East                 float64
London_zone_London_all           float64
London_zone_North                float64
London_zone_South_West           float64
London_zone_West                 float64
elisabeth_line                      bool
lockdown                            bool
school_holidays                   object
strike                            object
year                              object
month                             object
day                               object
hour                              object
minute                            object
second                            object
dtype: object

In [13]:
scaled_data["weekday"] = scaled_data["timestamp"].dt.weekday

In [14]:
scaled_data.set_index("timestamp", inplace=True)

In [15]:
scaled_data.head()

,temperature,precipitation,rainfall,snowfall,cloudcover,wind_speed,wind_direction,date,sunrise_datetime,sunset_datetime,...,lockdown,school_holidays,strike,year,month,day,hour,minute,second,weekday
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.4,0.133333,0.0,1.00,0.146226,0.688022,2023-01-02,2023-01-02 09:06:00,2023-01-02 17:02:00,...,False,winter_half_term,NaN,2023,1,2,0,0,0,0
2023-01-02 01:00:00,0.371601,0.3,0.100000,0.0,1.00,0.160377,0.646240,2023-01-02,2023-01-02 09:06:00,2023-01-02 17:02:00,...,False,winter_half_term,NaN,2023,1,2,1,0,0,0
2023-01-02 02:00:00,0.362538,0.1,0.033333,0.0,1.00,0.235849,0.621170,2023-01-02,2023-01-02 09:06:00,2023-01-02 17:02:00,...,False,winter_half_term,NaN,2023,1,2,2,0,0,0
2023-01-02 03:00:00,0.356495,0.0,0.000000,0.0,0.95,0.311321,0.610028,2023-01-02,2023-01-02 09:06:00,2023-01-02 17:02:00,...,False,winter_half_term,NaN,2023,1,2,3,0,0,0
2023-01-02 04:00:00,0.350453,0.0,0.000000,0.0,1.00,0.316038,0.607242,2023-01-02,2023-01-02 09:06:00,2023-01-02 17:02:00,...,False,winter_half_term,NaN,2023,1,2,4,0,0,0

## 3. Drop columns

In [16]:
droped_data = scaled_data.drop(columns=['precipitation','date','sunrise_datetime','sunset_datetime','event_start_date','event_end_date','event_start_date','event_location'])

In [17]:
droped_data.shape

(4080, 28)

In [18]:
droped_data.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,encoding,event_title,event_latitude,event_longitude,...,lockdown,school_holidays,strike,year,month,day,hour,minute,second,weekday
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,0,0,0,0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,1,0,0,0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,2,0,0,0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,3,0,0,0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,4,0,0,0

## 4.Day / night time encoding

In [19]:
dnte_data = droped_data.copy()
dnte_data.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,encoding,event_title,event_latitude,event_longitude,...,lockdown,school_holidays,strike,year,month,day,hour,minute,second,weekday
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,0,0,0,0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,1,0,0,0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,2,0,0,0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,3,0,0,0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,4,0,0,0

In [20]:
dnte_data.rename(columns={"encoding": "daytime"}, inplace=True)

In [21]:
dnte_data.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,daytime,event_title,event_latitude,event_longitude,...,lockdown,school_holidays,strike,year,month,day,hour,minute,second,weekday
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,0,0,0,0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,1,0,0,0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,2,0,0,0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,3,0,0,0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,nighttime,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,4,0,0,0

In [22]:
dnte_data["daytime"].value_counts()

daytime
daytime      2145
nighttime    1935
Name: count, dtype: int64

In [23]:
dnte_data["daytime"] = dnte_data["daytime"].replace("daytime", "1")
dnte_data["daytime"] = dnte_data["daytime"].replace("nighttime", "0")

In [24]:
dnte_data["daytime"].astype("int")

timestamp
2023-01-02 00:00:00    0
2023-01-02 01:00:00    0
2023-01-02 02:00:00    0
2023-01-02 03:00:00    0
2023-01-02 04:00:00    0
                      ..
2023-06-19 19:00:00    1
2023-06-19 20:00:00    1
2023-06-19 21:00:00    1
2023-06-19 22:00:00    0
2023-06-19 23:00:00    0
Name: daytime, Length: 4080, dtype: int64

In [25]:
dnte_data.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,daytime,event_title,event_latitude,event_longitude,...,lockdown,school_holidays,strike,year,month,day,hour,minute,second,weekday
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,0,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,0,0,0,0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,0,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,1,0,0,0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,0,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,2,0,0,0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,0,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,3,0,0,0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,0,Winter Wonderland,51.507388,-0.165570599,...,False,winter_half_term,NaN,2023,1,2,4,0,0,0

## 5. Event encoding

In [26]:
event_encoding = dnte_data.copy()

In [27]:
event_encoding.columns

Index(['temperature', 'rainfall', 'snowfall', 'cloudcover', 'wind_speed',
       'wind_direction', 'daytime', 'event_title', 'event_latitude',
       'event_longitude', 'London_zone_Central', 'London_zone_South_East',
       'London_zone_East', 'London_zone_London_all', 'London_zone_North',
       'London_zone_South_West', 'London_zone_West', 'elisabeth_line',
       'lockdown', 'school_holidays', 'strike', 'year', 'month', 'day', 'hour',
       'minute', 'second', 'weekday'],
      dtype='object')

In [28]:
#event_encoding['event_title'] = event_encoding['event_title'].fillna(0)

In [29]:
event_encoding['event_title'].value_counts()

event_title
Chelsea Flower Show                                    120
Taste of London                                        120
Winter Wonderland                                       24
Good Friday                                             24
Easter Monday                                           24
London Marathon                                         24
Early May bank holiday                                  24
Bank holiday for the coronation of King Charles III     24
Survival Sunday (Premier League)                        24
Spring bank holiday                                     24
FA cup final                                            24
Champions League Final                                  24
Trooping the Colour                                     24
Name: count, dtype: int64

In [30]:
ohe = OneHotEncoder(sparse = False) 
ohe.fit(event_encoding[['event_title']]) 
event_encoding[ohe.get_feature_names_out()] = ohe.transform(event_encoding[['event_title']])
event_encoding.drop(columns = ["event_title"], inplace = True)

/home/catherine/.pyenv/versions/3.10.6/envs/london-bss/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [31]:
event_encoding.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,daytime,event_latitude,event_longitude,London_zone_Central,...,event_title_Easter Monday,event_title_FA cup final,event_title_Good Friday,event_title_London Marathon,event_title_Spring bank holiday,event_title_Survival Sunday (Premier League),event_title_Taste of London,event_title_Trooping the Colour,event_title_Winter Wonderland,event_title_nan
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [32]:
def encoding_strings(text):
    if text == 0:
        pass
    else:
        text = 1
    return text

In [33]:
# event_encoding['event_title'] = event_encoding['event_title'].apply(encoding_strings)
# event_encoding['event_title'].value_counts()

In [34]:
event_encoding.shape

(4080, 41)

In [35]:
event_encoding = event_encoding.groupby('timestamp').sum()

In [36]:
event_encoding.shape

(4056, 41)

In [37]:
event_encoding.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,daytime,event_latitude,event_longitude,London_zone_Central,...,event_title_Easter Monday,event_title_FA cup final,event_title_Good Friday,event_title_London Marathon,event_title_Spring bank holiday,event_title_Survival Sunday (Premier League),event_title_Taste of London,event_title_Trooping the Colour,event_title_Winter Wonderland,event_title_nan
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

## 6. Bool to int encoding

In [38]:
booltoint = event_encoding.copy()

In [39]:
booltoint['elisabeth_line'] = np.where(booltoint['elisabeth_line'], '1', '0')

In [40]:
booltoint['lockdown'] = np.where(booltoint['lockdown'], '1', '0')

In [41]:
booltoint.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,daytime,event_latitude,event_longitude,London_zone_Central,...,event_title_Easter Monday,event_title_FA cup final,event_title_Good Friday,event_title_London Marathon,event_title_Spring bank holiday,event_title_Survival Sunday (Premier League),event_title_Taste of London,event_title_Trooping the Colour,event_title_Winter Wonderland,event_title_nan
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

## 7. Strikes and holidays encoding

In [42]:
strikes_holidays = booltoint.copy()

In [43]:
strikes_holidays['strike'] = strikes_holidays['strike'].fillna(0)

In [44]:
strikes_holidays['strike'].value_counts()

strike
0        3432
train     528
tube       96
Name: count, dtype: int64

In [45]:
strikes_holidays['strike'] = strikes_holidays['strike'].apply(encoding_strings)

In [46]:
strikes_holidays['strike'].value_counts()

strike
0    3432
1     624
Name: count, dtype: int64

In [47]:
strikes_holidays['school_holidays'] = strikes_holidays['school_holidays'].fillna(0)
strikes_holidays['school_holidays'] = strikes_holidays['school_holidays'].apply(encoding_strings)

In [48]:
strikes_holidays['school_holidays'].value_counts()

school_holidays
0    3192
1     864
Name: count, dtype: int64

In [49]:
strikes_holidays.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,daytime,event_latitude,event_longitude,London_zone_Central,...,event_title_Easter Monday,event_title_FA cup final,event_title_Good Friday,event_title_London Marathon,event_title_Spring bank holiday,event_title_Survival Sunday (Premier League),event_title_Taste of London,event_title_Trooping the Colour,event_title_Winter Wonderland,event_title_nan
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-01-02 00:00:00,0.380665,0.133333,0.0,1.00,0.146226,0.688022,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 01:00:00,0.371601,0.100000,0.0,1.00,0.160377,0.646240,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 02:00:00,0.362538,0.033333,0.0,1.00,0.235849,0.621170,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 03:00:00,0.356495,0.000000,0.0,0.95,0.311321,0.610028,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-01-02 04:00:00,0.350453,0.000000,0.0,1.00,0.316038,0.607242,0,51.507388,-0.165570599,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [50]:
strikes_holidays.shape

(4056, 41)

In [51]:
strikes_holidays.columns

Index(['temperature', 'rainfall', 'snowfall', 'cloudcover', 'wind_speed',
       'wind_direction', 'daytime', 'event_latitude', 'event_longitude',
       'London_zone_Central', 'London_zone_South_East', 'London_zone_East',
       'London_zone_London_all', 'London_zone_North', 'London_zone_South_West',
       'London_zone_West', 'elisabeth_line', 'lockdown', 'school_holidays',
       'strike', 'year', 'month', 'day', 'hour', 'minute', 'second', 'weekday',
       'event_title_Bank holiday for the coronation of King Charles III',
       'event_title_Champions League Final', 'event_title_Chelsea Flower Show',
       'event_title_Early May bank holiday', 'event_title_Easter Monday',
       'event_title_FA cup final', 'event_title_Good Friday',
       'event_title_London Marathon', 'event_title_Spring bank holiday',
       'event_title_Survival Sunday (Premier League)',
       'event_title_Taste of London', 'event_title_Trooping the Colour',
       'event_title_Winter Wonderland', 'event_title_nan'],
      dtype='object')

In [52]:
strikes_holidays.describe()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,London_zone_Central,London_zone_South_East,London_zone_East,London_zone_London_all,...,event_title_Easter Monday,event_title_FA cup final,event_title_Good Friday,event_title_London Marathon,event_title_Spring bank holiday,event_title_Survival Sunday (Premier League),event_title_Taste of London,event_title_Trooping the Colour,event_title_Winter Wonderland,event_title_nan
count,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,...,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000,4056.000000
mean,0.408656,0.025279,0.002246,0.595523,0.338121,0.475156,0.059172,0.047337,0.076923,0.076923,...,0.005917,0.005917,0.005917,0.005917,0.005917,0.005917,0.029586,0.005917,0.005917,0.881657
std,0.180167,0.081235,0.034999,0.365443,0.167905,0.295168,0.235975,0.212385,0.266502,0.266502,...,0.076705,0.076705,0.076705,0.076705,0.076705,0.076705,0.169463,0.076705,0.076705,0.323054
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.302115,0.000000,0.000000,0.260000,0.207547,0.155989,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.401813,0.000000,0.000000,0.660000,0.319575,0.545961,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.492447,0.000000,0.000000,1.000000,0.433962,0.707521,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.752266,1.000000,1.000000,1.400000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [57]:
strikes_holidays.drop(columns="event_latitude", inplace=True)

In [60]:
strikes_holidays.drop(columns="event_longitude", inplace=True)

In [61]:
strikes_holidays.shape

(4056, 39)

In [62]:
strikes_holidays.to_csv('../../../raw_data/final_features_preproc.csv')