In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from preproc import *

['elisabeth_line', 'lockdown', 'strike', 'school_holidays', 'daytime', 'London_zone_Central', 'London_zone_North', 'London_zone_West', 'London_zone_South_West', 'London_zone_South_East', 'London_zone_East', 'Event', 'temperature', 'rainfall', 'snowfall', 'cloudcover', 'wind_speed', 'wind_direction', 'year', 'month', 'day', 'hour', 'weekday']

In [3]:
X = pd.read_csv("~/code/elsebasmar/london-bss/raw_data/final_features_df.csv", index_col=0)

In [4]:
X.head()

,temperature,rainfall,snowfall,cloudcover,wind_speed,wind_direction,date,year,month,day,...,event_title,event_start_date,event_end_date,event_location,event_latitude,event_longitude,elisabeth_line,lockdown,school_holidays,strike
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-01-02 00:00:00,12.5,0.1,0.0,100,6.9,189,2022-01-02,2022,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 01:00:00,12.4,0.1,0.0,100,20.2,239,2022-01-02,2022,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 02:00:00,12.4,0.0,0.0,100,19.0,241,2022-01-02,2022,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 03:00:00,12.4,0.0,0.0,100,17.4,248,2022-01-02,2022,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN
2022-01-02 04:00:00,12.4,0.0,0.0,100,17.4,248,2022-01-02,2022,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,christmas,NaN

In [5]:
# X.fillna(0.0, inplace=True)

In [6]:
X.shape

(9192, 23)

In [7]:
X.columns

Index(['temperature', 'rainfall', 'snowfall', 'cloudcover', 'wind_speed',
       'wind_direction', 'date', 'year', 'month', 'day', 'hour', 'weekday',
       'daytime', 'event_title', 'event_start_date', 'event_end_date',
       'event_location', 'event_latitude', 'event_longitude', 'elisabeth_line',
       'lockdown', 'school_holidays', 'strike'],
      dtype='object')

In [8]:
X_processed, column_names = fit_transform_features(X, "train")

In [9]:
X_processed.columns = column_names

In [10]:
X_processed.head()

,elisabeth_line,lockdown,strike,school_holidays,daytime,London_zone_Central,London_zone_North,London_zone_West,London_zone_South_West,London_zone_South_East,...,rainfall,snowfall,cloudcover,wind_speed,wind_direction,year,month,day,hour,weekday
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.010204,0.0,1.0,0.108333,0.523677,2022.0,1.0,2.0,0.0,6.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.010204,0.0,1.0,0.330000,0.662953,2022.0,1.0,2.0,1.0,6.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,1.0,0.310000,0.668524,2022.0,1.0,2.0,2.0,6.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,1.0,0.283333,0.688022,2022.0,1.0,2.0,3.0,6.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,1.0,0.283333,0.688022,2022.0,1.0,2.0,4.0,6.0

In [11]:
for col in X_processed.columns:
    print(X_processed[col].value_counts())

elisabeth_line
1.0    5352
0.0    3408
Name: count, dtype: int64
lockdown
0.0    8760
Name: count, dtype: int64
strike
0.0    6288
1.0    2472
Name: count, dtype: int64
school_holidays
0.0    7752
1.0    1008
Name: count, dtype: int64
daytime
1.0    4491
0.0    4269
Name: count, dtype: int64
London_zone_Central
0.0    7056
1.0    1512
2.0     192
Name: count, dtype: int64
London_zone_North
0.0    8064
1.0     696
Name: count, dtype: int64
London_zone_West
0.0    8256
1.0     480
2.0      24
Name: count, dtype: int64
London_zone_South_West
0.0    7896
1.0     816
2.0      48
Name: count, dtype: int64
London_zone_South_East
0.0    8304
1.0     456
Name: count, dtype: int64
London_zone_East
0.0    8304
1.0     456
Name: count, dtype: int64
Event
0.0    6480
1.0    1896
2.0     384
Name: count, dtype: int64
temperature
0.345411    76
0.398551    69
0.471014    63
0.355072    63
0.333333    61
            ..
0.920290     1
0.886473     1
0.857488     1
0.859903     1
0.835749     1
Name: count, Length: 377, dtype: int64
rainfall
0.000000    7216
0.010204     617
0.020408     272
0.030612     135
0.040816      91
0.051020      75
0.061224      63
0.071429      50
0.091837      34
0.081633      33
0.102041      31
0.132653      21
0.112245      19
0.173469      14
0.142857       9
0.193878       9
0.163265       8
0.183673       8
0.122449       7
0.153061       7
0.224490       6
0.204082       4
0.265306       4
0.234694       3
0.214286       3
0.357143       2
0.285714       2
0.244898       2
0.316327       2
0.479592       1
0.295918       1
0.255102       1
0.306122       1
0.489796       1
1.000000       1
0.612245       1
0.387755       1
0.408163       1
0.500000       1
0.469388       1
0.448980       1
0.336735       1
Name: count, dtype: int64
snowfall
0.000000    8748
0.333333       5
1.000000       4
0.666667       3
Name: count, dtype: int64
cloudcover
1.00    1853
0.00     602
0.01     200
0.90     177
0.02     139
        ...
0.54      42
0.82      37
0.18      36
0.96      32
0.99      27
Name: count, Length: 101, dtype: int64
wind_speed
0.210000    99
0.163333    87
0.150000    84
0.168333    84
0.155000    83
            ..
0.720000     1
0.638333     1
0.808333     1
0.631667     1
0.518333     1
Name: count, Length: 388, dtype: int64
wind_direction
0.618384    61
0.607242    61
0.584958    61
0.651811    60
0.623955    60
            ..
0.245125     5
0.902507     5
0.239554     3
0.250696     2
0.752089     1
Name: count, Length: 360, dtype: int64
year
2022.0    8736
2023.0      24
Name: count, dtype: int64
month
1.0     744
3.0     744
5.0     744
7.0     744
8.0     744
10.0    744
12.0    744
4.0     720
6.0     720
9.0     720
11.0    720
2.0     672
Name: count, dtype: int64
day
2.0     288
16.0    288
28.0    288
27.0    288
26.0    288
25.0    288
24.0    288
23.0    288
22.0    288
21.0    288
20.0    288
19.0    288
18.0    288
3.0     288
17.0    288
15.0    288
14.0    288
13.0    288
12.0    288
11.0    288
10.0    288
9.0     288
8.0     288
7.0     288
6.0     288
5.0     288
4.0     288
1.0     288
29.0    264
30.0    264
31.0    168
Name: count, dtype: int64
hour
0.0     365
1.0     365
22.0    365
21.0    365
20.0    365
19.0    365
18.0    365
17.0    365
16.0    365
15.0    365
14.0    365
13.0    365
12.0    365
11.0    365
10.0    365
9.0     365
8.0     365
7.0     365
6.0     365
5.0     365
4.0     365
3.0     365
2.0     365
23.0    365
Name: count, dtype: int64
weekday
6.0    1272
0.0    1248
1.0    1248
2.0    1248
3.0    1248
4.0    1248
5.0    1248
Name: count, dtype: int64